/* змінні кольору */
:root {
  --brend-color: #2196f3;
  --brend-color-active: #188ce8;
  --main-color: #757575;
  --second-color: #212121;
  --main-white-color: #fff;
  --second-white-color: #f5f4fa;
  --main-black-color: #000;
  --hero-background-color: #2f303a;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --header-border-bottom: #ececec;
  --cards-border-color: #eeeeee;
  --items-color: #afb1b8;
  --backdrop-color: rgba(0, 0, 0, 0.2);

  --border-radius: 4px;
  --icons-border-radius: 50%;
  --cards-radius: 0px 0px 4px 4px;

  --box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --cards-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* глобальні стилі */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;

  color: var(--main-color);
  background-color: var(--main-white-color);
}
a {
  text-decoration: none;
  font-style: normal;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
ul,
p,
img {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;

  margin: 0;
  padding: 0;
}

/* Приховані елементи */
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Контейнер */
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Відступи секцій */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0px;
}

/* header */
.page-header {
  border-bottom: 1px solid var(--header-border-bottom);
}
/* Лого */
.logo {
  display: inline-block;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--main-black-color);
}
.web {
  color: var(--brend-color);
}

/* навігація */
.main-nav {
  display: flex;
  align-items: center;
}
.nav-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.site-nav {
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.studio-link,
.portfolio-link,
.contacts-link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-color);

  transition: color 250ms var(--cubic);
}
.studio-link:hover,
.portfolio-link:hover,
.contacts-link:hover,
.studio-link:focus,
.portfolio-link:focus,
.contacts-link:focus {
  color: var(--brend-color);
}
.current {
  color: var(--brend-color);
  position: relative;
}
.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: "";
  width: 100%;
  height: 4px;

  background-color: var(--brend-color);
  border-radius: 2px;

  animation-name: current-anima;
  animation-duration: 250ms;
  animation-timing-function: var(--cubic);
  animation-iteration-count: 1;
}
@keyframes current-anima {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}

/* контакти */

.auth-nav .item + .item {
  margin-left: 50px;
}

.contacts-icon.envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.contacts-icon.smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
}
.contacts-icon {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

.mail-link,
.phone-link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-color);
  transition: color 250ms var(--cubic);
}
.mail-link:hover,
.phone-link:hover,
.footer-mail-link:hover,
.footer-phone-link:hover,
.mail-link:focus,
.phone-link:focus,
.footer-mail-link:focus,
.footer-phone-link:focus {
  color: var(--brend-color);
}
/* main */

/* Герой  */

.hero {
  max-width: 1600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;

  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
}

.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.hero-button {
  padding: 10px 32px;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);

  background-color: var(--brend-color);

  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--brend-color-active);
}

/* Бекдроп */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop-color);
  opacity: 1;

  transition: opacity 250ms var(--cubic);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  transition: transform 250ms var(--cubic);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background: var(--main-white-color);
  box-shadow: var(--modal-shadow);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
}
.icon-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--icons-border-radius);
  background-color: var(--main-white-color);

  cursor: pointer;
}
.icon-close-item {
  width: 100%;
  height: 100%;
  fill: #000;
  transition: fill 250ms var(--cubic);
}
.icon-button:hover .icon-close-item,
.icon-button:focus .icon-close-item {
  fill: var(--brend-color);
}
.form {
  /* outline: solid 1px red; */
  padding: 40px;
}

.form label {
  font-size: 12px;
  letter-spacing: 0.01em;

  color: var(--main-color);
}
.form-field span:not(:last-child) {
  margin-bottom: 4px;
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field:nth-child(5) {
  margin-bottom: 20px;
}
.input-place {
  position: relative;
}

.modal-input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);

  outline: none;
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--brend-color);
}

.form-field:focus-within .modal-icons,
.form-field:hover .modal-icons,
.form-field:focus .modal-icons {
  fill: var(--brend-color);
}

.modal-icons {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  transition: fill 250ms var(--cubic);
}
.modal-button {
  display: block;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.callback-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--second-color);
}
.form-field textarea {
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  outline: none;
  transition: border-color 250ms var(--cubic);
}
.comment-textarea:hover,
.comment-textarea:focus {
  border-color: var(--brend-color);
}


.checkbox {
  appearance: none;
}


.input-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.accept-icon {
  display: block;


  transition: background-image 250ms var(--cubic);

  width: 15px;
  height: 15px;

  border: 2px solid black;
  border-radius: 2px;
}
.checkbox:checked + .accept-icon {
  background-color: var(--brend-color);
  background-image: url(../images/icon-check-bg.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-color: var(--brend-color);
}

.accept-title {
  margin-left: 8px;
  
  font-size: 14px;

  color: var(--main-color);
}
.contract {
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--brend-color);
}

/* sections */

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--second-color);
}
/* переваги */

.features-icons {
  display: flex;
  align-items: center;

  width: 70px;
  height: 70px;

  background-color: var(--second-white-color);
  border-radius: var(--border-radius);
}

.featurs-flex {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  border-radius: var(--border-radius);

  background-color: var(--second-white-color);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.features-list li {
  max-width: 270px;
}
.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;
  color: var(--second-color);
}
.features-text {
  line-height: 1.71;
  color: var(--main-color);
}
/* що ми робимо */
.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.item {
  position: relative;
}
.item-title-box {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(47, 48, 58, 0.8);
}

.item-title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14em;
  text-align: center;
  color: var(--main-white-color);
}

/* команда */
.our-team-section {
  background-color: var(--second-white-color);
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team-list {
  background-color: var(--main-white-color);
  box-shadow: var(--cards-shadow);
  border-radius: var(--cards-radius);
}

.team-photo {
  margin-bottom: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 12px;
}
.position {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
  text-align: center;

  color: var(--main-color);
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 27px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}
.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: var(--icons-border-radius);

  fill: var(--items-color);

  transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.join-link:hover,
.join-link:focus {
  fill: var(--main-white-color);
  background-color: var(--brend-color);
}
/* Постійні клієнти */
.costomers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.costomers-item {
  width: 170px;
  height: 92px;
}

.costomers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  fill: #afb1b8;

  transition: border-color 250ms var(--cubic), fill 250ms var(--cubic);
}
.costomers-link:hover,
.costomers-link:focus {
  border-color: var(--brend-color);
  fill: var(--brend-color);
}

/* footer */
footer {
  background-color: var(--hero-background-color);
}
.container.footer-box {
  display: flex;
  align-items: baseline;
}
.socials.footer {
  margin-bottom: 0;
}
.adding {
  margin-left: 70px;
}
.adding-title {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;

  color: var(--main-white-color);
}
.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-bottom: 28px;
}

.studio {
  color: var(--main-white-color);
}

.address {
  line-height: 1.71;

  color: var(--main-white-color);
}
.contacts-list li:not(:last-child) {
  margin-bottom: 12px;
}

.footer-mail-link,
.footer-phone-number {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.mail,
.number {
  line-height: 1.71;
  color: var(--contacts-color);
  transition: color 250ms var(--cubic);
}
.join-link.footer {
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--cubic);
}

.join-link:hover.footer,
.join-link:focus.footer {
  background-color: var(--brend-color);
}
.join-svg.footer {
  fill: var(--main-white-color);
}
/* ----------------портфоліо--------------- */

/* projects-list */

.projects-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
/* Кнопки */
.projects-list li + li {
  margin-left: 8px;
}
.nav-button {
  padding: 6px 22px;
  border: none;
  border-radius: var(--border-radius);

  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: var(--second-color);
  background-color: var(--second-white-color);

  cursor: pointer;

  transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}
.nav-button:hover,
.nav-button:focus {
  background-color: var(--brend-color);
  color: var(--main-white-color);
  box-shadow: var(--box-shadow);
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.cards-discriptions {
  padding: 20px 24px;
  border-bottom: 1px solid var(--cards-border-color);
  border-right: 1px solid var(--cards-border-color);
  border-left: 1px solid var(--cards-border-color);
}
.cards-list {
  position: relative;

  max-width: 370px;
}
.cards-link {
  display: block;

  transition: box-shadow 250ms var(--cubic);
}

.cards-link:hover,
.cards-link:focus {
  box-shadow: var(--box-shadow);
}
.project-title {
  max-width: 322px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}
.project-subtitle {
  color: var(--main-color);
  max-width: 322px;
  font-size: 16px;
  line-height: 1.88;
}
.cards-thumb {
  position: relative;
  overflow: hidden;
}
.cards-actions {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  margin-left: auto;
  margin-right: auto;

  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--main-white-color);

  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}
.cards-link:hover .cards-actions,
.cards-link:focus .cards-actions {
  transform: translateY(0);
}
/* Підписатися на розсилку */
.mailing-list {
  margin-left: auto;
}
.email-label {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--main-white-color);
}
.email-list {
  display: flex;
  align-items: flex-end;
}
.form-field-footer:focus-within .email-input {
  border-color: var(--brend-color);
}

.form-field-footer {
  /* outline: 1px solid red; */
  display: flex;
  flex-direction: column;
}
.email-input:hover,
.email-input:focus {
  border-color: var(--brend-color);
}

.email-input {
  color: var(--second-white-color);
  width: 358px;
  height: 50px;
  padding: 15px 15px 15px 15px;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--cubic);
}

.email-label {
  margin-bottom: 20px;
}

.sign-up-button {
  position: relative;
  display: inline-flex;

  padding: 10px 10px 10px 28px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);

  background-color: var(--brend-color);

  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}
.icon-send {
  position: absolute;
  top: 12px;
  right: 28px;
  width: 24px;
  height: 24px;
}

.sign-up-button:hover,
.sign-up-button:focus {
  background-color: var(--brend-color-active);
}
